@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white dark:bg-slate-900 text-slate-900 dark:text-slate-100 transition-colors;
  }
}

@layer utilities {
  .tap-highlight-none {
    -webkit-tap-highlight-color: transparent;
  }
}
